openapi: 3.1.0
info:
  title: Swagger GoApi
  description: |-
    This is the GoApi documentation. You can find out more about the project on the [GoApi Repository](https://gl.traveligo.com/t1/go-api).
    Some useful links:
    - [GoApi Repository](https://gl.traveligo.com/t1/go-api)
  version: 1.3.20
  license:
    name: Internal
    url: "https://gl.traveligo.com/"
servers:
  - url: "https://goapi.travels.network/api"
    description: Uat Server
tags:
  - name: auth
    description: The authentication of a user in the system to verify the user's identity
  - name: klub
    description: The klub is a community of users that share the same interests joined together to enjoy the benefits of the platform
  - name: promotion
    description: The promotion is a special offer that is available for a limited time
  - name: experience
    description: The experience is a special event that is a bunch of activities that are available for a limited time
  - name: hotel
    description: The hotel is a place where the user can stay for a limited time
  - name: flight
    description: The flight is a mode of transportation that is available for the user to use
  - name: reward
    description: The reward is a special game or campaign that is available for the user to play or join
  - name: utility
    description: The utility is a set of tools that are available for the user to use
paths:
  /auth/token:
    post:
      tags:
        - auth
      operationId: auth
      summary: Get the auth token
      description: Get the auth token for a agent using the request key
      security: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                requestKey:
                  type: string
                  description: "base64_encode(base64_encode(code).’,’.base64_encode(requestor_id) ).’,’.base64_encode(requestor_password))"
              required:
                - requestKey
      responses:
        "200":
          $ref: "#/components/responses/AuthSuccessResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /auth/checkToken:
    post:
      tags:
        - auth
      operationId: checkToken
      summary: Check the auth token
      description: Check the validity of the auth token
      security: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The auth token
                  format: JWT
              required:
                - token
      responses:
        "200":
          description: The token is valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Token Authorized
                    description: Token Authorized
                  status:
                    type: number
                    description: The status code
                    examples:
                      - 200
        "401":
          description: The token is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Wrong number of segments
                    description: Token Unauthorized
                  status:
                    type: number
                    description: The status code
                    examples:
                      - 401
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/landing:
    get:
      summary: Get the klub landing page
      description: Gets the data required to render the landing page of the klub
      security:
        - bearerAuth: []
      operationId: getKlubLanding
      tags:
        - klub
      parameters:
        - $ref: "#/components/parameters/accept-Language"
          description: The language of the response
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: The klub landing page
          content:
            application/json:
              schema:
                type: object
                properties:
                  klubForYour:
                    type: array
                    items:
                      $ref: "#/components/schemas/RegularKlubObject"
                  klubExclusive:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExclusiveKlubObject"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
  /v2/klub/recommended:
    get:
      summary: Get the recommended klub
      description: Gets the data required to render the recommended klub
      security:
        - bearerAuth: []
      operationId: getRecommendedKlub
      tags:
        - klub
      parameters:
        - $ref: "#/components/parameters/accept-Language"
          description: The language of the response
        - $ref: "#/components/parameters/data-Token"
        - $ref: "#/components/parameters/klubCategory"
      responses:
        "200":
          description: The recommended klub
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommend:
                    type: array
                    items:
                      $ref: "#/components/schemas/RecommendedKlub"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/landingKlub:
    get:
      summary: Get the klub landing page
      description: Gets the data required to render the landing page of the klub
      security:
        - bearerAuth: []
      operationId: getKlubLandingByCategory
      tags:
        - klub
      parameters:
        - $ref: "#/components/parameters/klubCategory"
          description: The category id of the klub
        - $ref: "#/components/parameters/accept-Language"
          description: The language of the response
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: Klub by category id
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KlubLandingObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/experienceExclusive:
    get:
      summary: Get the exclusive experience
      description: Gets the data required to render the exclusive experience
      security:
        - bearerAuth: []
      operationId: getExclusiveExperience
      tags:
        - klub
      parameters:
        - $ref: "#/components/parameters/klubCategory"
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: The exclusive experience
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExclusiveExperienceObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/promotion/promotionLists:
    get:
      tags:
        - promotion
      summary: Get the promotion list
      description: Gets the data required to render the promotion list
      security:
        - bearerAuth: []
      operationId: getPromotionList
      parameters:
        - in: query
          name: page
          schema:
            type: number
          description: The page number of the promotion list
        - $ref: "#/components/parameters/limit"
        - in: query
          name: type
          schema:
            oneOf:
              - type: string
                description: The type of the promotion
                examples:
                  - hotel
                  - home
                  - tour
                  - flight
                  - activity
                  - ticket
                  - transfer
                  - insurance
              - type: array
                items:
                  type: string
                description: The type of the promotion
                examples:
                  - hotel
                  - home
                  - tour
                  - flight
                  - activity
                  - ticket
                  - transfer
                  - insurance
        - in: query
          name: category
          schema:
            oneOf:
              - type: string
                description: The category of the promotion  (คูปองรหัสส่วนลด | โปรโมชั่นบัตรเครดิต | ดีลสุดพิเศษ)
                examples:
                  - "1"
                  - "2"
                  - "3"
              - type: array
                items:
                  type: string
                description: The category of the promotion  (คูปองรหัสส่วนลด | โปรโมชั่นบัตรเครดิต | ดีลสุดพิเศษ)
                examples:
                  - "1"
                  - "2"
                  - "3"
        - $ref: "#/components/parameters/utmId"
      responses:
        "200":
          description: The promotion list
          content:
            application/json:
              schema:
                type: object
                properties:
                  promotion:
                    type: array
                    items:
                      $ref: "#/components/schemas/PromotionObject"
                  type:
                    type: array
                    description: The promotion type list
                    items:
                      $ref: "#/components/schemas/PromotionTypeObject"
                    default: []
                  category:
                    type: array
                    description: The promotion category list
                    items:
                      $ref: "#/components/schemas/PromotionTypeObject"
                    default: []
                  total:
                    type: number
                    description: The total number of promotions
                    default: 0
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/promotion/detail:
    get:
      tags:
        - promotion
      operationId: getPromotionDetail
      summary: Get the promotion detail
      description: Gets promotion detail by promotion id
      parameters:
        - name: id
          in: query
          schema:
            type: number
          required: true
          description: The promotion id
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/slug"
      responses:
        "200":
          description: The promotion detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  promotion:
                    type: array
                    items:
                      $ref: "#/components/schemas/PromotionObject"
                  success:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/story:
    get:
      security:
        - bearerAuth: []
      tags:
        - klub
      summary: Get the story list
      description: Gets the data required to render the story list
      operationId: getStoryList
      parameters:
        - $ref: "#/components/parameters/klubCategory"
        - $ref: "#/components/parameters/accept-Language"
      responses:
        "200":
          description: The story list
          content:
            application/json:
              schema:
                type: object
                properties:
                  story:
                    type: array
                    items:
                      $ref: "#/components/schemas/StoryObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/travelStory:
    get:
      security:
        - bearerAuth: []
      tags:
        - klub
      summary: Get the travel story list
      description: Gets the data required to render the travel story list
      operationId: getTravelStoryList
      parameters:
        - $ref: "#/components/parameters/klubCategory"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/accept-Language"
      responses:
        "200":
          description: The travel story list
          content:
            application/json:
              schema:
                type: object
                properties:
                  story:
                    type: array
                    items:
                      $ref: "#/components/schemas/TravelStoryObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/storyBySlug:
    get:
      security:
        - bearerAuth: []
      tags:
        - klub
      summary: Get the story by slug
      description: Gets the data required to render the story by slug
      operationId: getStoryBySlug
      parameters:
        - name: slug
          in: query
          description: The slug of the experience
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/accept-Language"
      responses:
        "200":
          description: The story by slug
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StoryBySlugObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/crossSell/hotel:
    get:
      tags:
        - klub
      operationId: getCrossSellHotel
      summary: Get the cross sell hotel
      description: Gets the data about list for cross-sell hotels
      security:
        - bearerAuth: []
      parameters:
        - name: klubCategory
          in: query
          description: The klub category of the experience
          schema:
            type: string
            enum:
              - diving
              - family
              - coffee
              - mutalu
          required: true
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
      responses:
        "200":
          description: The cross sell hotel
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        typeGroup:
                          type: string
                          description: The type of the group
                          examples:
                            - โรงแรมติดท่าเรือ
                            - โรงแรมในเมือง
                        hotel:
                          type: array
                          items:
                            $ref: "#/components/schemas/HotelObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/crossSell/flight:
    get:
      tags:
        - klub
      operationId: getCrossSellFlight
      summary: Get the cross sell flight
      description: Gets the data about list for cross-sell flights
      security:
        - bearerAuth: []
      parameters:
        - name: klubCategory
          in: query
          description: The klub category of the experience
          required: true
          schema:
            type: string
            enum:
              - diving
              - family
              - coffee
              - mutalu
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
      responses:
        "200":
          description: The cross sell flight
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        typeGroup:
                          type: string
                          description: The type of the group
                          examples:
                            - โรงแรมติดท่าเรือ
                            - โรงแรมในเมือง
                        flight:
                          type: array
                          items:
                            $ref: "#/components/schemas/FlightObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/crossSell/experience:
    get:
      tags:
        - klub
      operationId: getCrossSellExperience
      summary: Get the cross sell experience
      description: Gets the data about list for cross-sell experiences
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
        - $ref: "#/components/parameters/data-Token"
        - name: klubCategory
          in: query
          required: true
          description: The klub category of the experience
          schema:
            type: string
            enum:
              - diving
              - family
              - coffee
              - mutalu
      responses:
        "200":
          description: The cross sell experience
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        typeGroup:
                          type: string
                          description: The type of the group
                          examples:
                            - โรงแรมติดท่าเรือ
                            - โรงแรมในเมือง
                        experience:
                          type: array
                          items:
                            $ref: "#/components/schemas/ExperienceCrossSellObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/joinKlub/join:
    post:
      tags:
        - klub
      operationId: joinKlub
      summary: Join the klub
      description: Join a perticular klub by the user
      security:
        - dataToken: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                klubCategory:
                  type: string
                  description: The category of the klub
                  enum:
                    - diving
                    - family
                    - coffee
                    - mutalu
              required:
                - klubCategory
      responses:
        "200":
          description: The join klub response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
                  message:
                    type: string
                    description: The message of the response
                    examples:
                      - Join Klub Success
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/klub/joinKlub/leave:
    post:
      tags:
        - klub
      operationId: leaveKlub
      summary: Leave the klub
      description: Leave a perticular klub by the user
      security:
        - dataToken: []
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                klubCategory:
                  type: string
                  description: The category of the klub
                  enum:
                    - diving
                    - family
                    - coffee
                    - mutalu
              required:
                - klubCategory
      responses:
        "200":
          description: The leave klub response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    examples:
                      - true
                      - false
                  message:
                    type: string
                    description: The message of the response
                    examples:
                      - Leave Klub Success
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/available:
    get:
      tags:
        - experience
      security:
        - bearerAuth: []
      summary: Get available experience
      description: Get available experience by ticket id
      operationId: getAvailableExperience
      parameters:
        - name: experienceId
          in: query
          description: Experience id
          schema:
            type: number
            description: Experience id
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/slug"
      responses:
        "200":
          description: Get available experience
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    default: true
                  message:
                    type: string
                    description: The message
                    default: null
                  data:
                    allOf:
                      - $ref: "#/components/schemas/ExperienceObject"
                      - type: object
                        properties:
                          packages:
                            type: array
                            items:
                              $ref: "#/components/schemas/PackageObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/detail:
    get:
      tags:
        - experience
      security:
        - bearerAuth: []
      summary: Get experience detail
      operationId: getExperienceDetail
      description: Get experience detail by experience id or ticket id or slug
      parameters:
        - name: experienceId
          in: query
          description: Experience id
          schema:
            type: number
            description: Experience id
            examples:
              - 3794
              - 3713
              - 3792
        - $ref: "#/components/parameters/accept-Language"
        - name: slug
          in: query
          description: Experience slug
          schema:
            type: string
            description: Experience slug
            examples:
              - experience-slug
        - name: citySlug
          in: query
          description: City slug
          schema:
            type: string
            description: City slug
            examples:
              - city-slug
        - name: countrySlug
          in: query
          description: Country slug
          schema:
            type: string
            description: Country slug
            examples:
              - country-slug
      responses:
        "200":
          description: Get experience detail by id
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    default: true
                  message:
                    type: string
                    description: The message
                    default: Get experience detail by id
                  data:
                    $ref: "#/components/schemas/ExperienceDetailObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/recommended:
    get:
      operationId: getRecommendedExperience
      summary: Get recommended experience
      description: Get recommended experience by experience id
      security:
        - bearerAuth: []
      tags:
        - experience
      parameters:
        - $ref: "#/components/parameters/experienceId"
        - $ref: "#/components/parameters/slug"
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: Success response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    default: true
                  message:
                    type: string
                    description: The message
                    default: Get recommended experience
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExperienceCrossSellObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/categories:
    get:
      tags:
        - experience
      security:
        - bearerAuth: []
      summary: Get experience categories
      operationId: getExperienceCategories
      description: Get experience categories
      parameters:
        - $ref: "#/components/parameters/accept-Language"
      responses:
        "200":
          description: Get experience categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    default: true
                  message:
                    type: string
                    description: The message
                    default: Get experience categories
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExperienceCategoryObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/tourist:
    get:
      tags:
        - experience
      summary: Get tourist experience
      description: Get tourist experience
      operationId: getTouristExperience
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: successful authentication response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                  message:
                    type: string
                    description: The message
                    examples:
                      - null
                      - Invalid username or password
                  data:
                    type: object
                    properties:
                      experience:
                        type: array
                        items:
                          description: Tourist experience object
                          type: object
                          properties:
                            experienceId:
                              type: string
                              description: The experience ID
                              examples:
                                - "3012"
                            name:
                              type: string
                              description: The experience name
                              examples:
                                - Bangkok City Tour
                            slug:
                              type: string
                              description: The experience slug
                              examples:
                                - bangkok-city-tour
                            ticket_category_id:
                              type: string
                              description: The ticket category ID
                              examples:
                                - "1"
                            isCampaign:
                              type: string
                              description: The campaign status
                              examples:
                                - "true"
                                - "false"
                            category:
                              type: string
                              description: The experience category
                              examples:
                                - City Tour
                      destination:
                        type: array
                        items:
                          $ref: "#/paths/~1v2~1experience~1tourist/get/responses/200/content/application~1json/schema/properties/data/properties/experience/items"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/preAllocate:
    post:
      tags:
        - experience
      security:
        - bearerAuth: []
        - dataToken: []
      summary: Pre allocate experience
      operationId: postPreAllocateExperience
      description: Pre allocate experience this is an optional step to allocate experience before booking to check for availability of the product
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
      requestBody:
        $ref: "#/components/requestBodies/PreAllocateRequest"
      responses:
        "200":
          description: Pre allocate experience
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    default: true
                  message:
                    type: string
                    description: The message
                    default: Pre allocate experience
                  data:
                    $ref: "#/components/schemas/PreAllocationObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/experience/allocate:
    post:
      tags:
        - experience
      security:
        - bearerAuth: []
        - dataToken: []
      summary: Allocate experience
      description: Allocate is an mandatory step to generate the payment link for the user to book the experience
      operationId: postAllocateExperience
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
      requestBody:
        $ref: "#/components/requestBodies/AllocateRequest"
      responses:
        "200":
          description: Allocate experience
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    description: The status code
                    default: true
                  message:
                    type: string
                    description: The message
                    default: Allocate experience
                  data:
                    $ref: "#/components/schemas/AllocationObject"
        "401":
          $ref: "#/components/responses/TokenExpiredError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/hotelsAvailable:
    get:
      tags:
        - hotel
      operationId: getHotelsAvailable
      summary: Get the list of available hotels
      description: |
        Get the list of available hotels
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
        - $ref: "#/components/parameters/data-Token"
        - in: query
          name: destinationId
          required: true
          description: The destination id can be found from dexter search
          schema:
            type: integer
        - $ref: "#/paths/~1v2~1hotel~1roomsAvailable/get/parameters/1"
        - $ref: "#/paths/~1v2~1hotel~1roomsAvailable/get/parameters/2"
        - $ref: "#/paths/~1v2~1hotel~1roomsAvailable/get/parameters/3"
        - $ref: "#/paths/~1v2~1hotel~1roomsAvailable/get/parameters/4"
        - $ref: "#/paths/~1v2~1hotel~1roomsAvailable/get/parameters/5"
        - $ref: "#/paths/~1v2~1hotel~1roomsAvailable/get/parameters/6"
        - in: query
          name: page
          required: true
          description: The page number can set 0 for for all hotels
          schema:
            type: integer
            examples:
              - 1
            minimum: 0
        - in: query
          name: limit
          description: "Limit for get all hotels, if set 0 is get all"
          required: true
          schema:
            type: integer
            examples:
              - 10
            minimum: 0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionSearch:
                    type: string
                    description: The session search
                  recommend:
                    type: array
                    items:
                      description: Hotel search object
                      type: object
                      properties:
                        id:
                          type: string
                          description: The hotel id
                          examples:
                            - 1233
                            - 6372
                        name:
                          type: string
                          description: The hotel name
                          examples:
                            - Hotel A
                            - Hotel B
                        slug:
                          type: string
                          description: The hotel slug
                          examples:
                            - hotel-a
                            - hotel-b
                        description:
                          type: string
                          description: The hotel description
                          examples:
                            - Hotel A is a 5-star hotel
                            - Hotel B is a 4-star hotel
                        starRating:
                          type: number
                          description: The hotel star rating
                          examples:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                        latitude:
                          type: number
                          description: The hotel latitude
                          examples:
                            - 13.74613952636719
                            - 13.74613952636719
                        longitude:
                          type: number
                          description: The hotel longitude
                          examples:
                            - 100.51983642578125
                            - 100.51983642578125
                        phoneNumber:
                          type: string
                          description: The hotel phone number
                          examples:
                            - 6622169555
                            - 6622169555
                        faxNumber:
                          type: string
                          description: The hotel fax number
                          examples:
                            - 6622169544
                            - 6622169544
                        address:
                          type: string
                          description: The hotel address
                          examples:
                            - 88 ถนนรองเมือง
                            - ปทุมวัน
                            - กรุงเทพ
                            - 10330
                            - ไทย
                            - 88 ถนนรองเมือง
                            - ปทุมวัน
                            - กรุงเทพ
                            - 10330
                            - ไทย
                        countryName:
                          type: string
                          description: The hotel country name
                          examples:
                            - ไทย
                            - ไทย
                        countrySlug:
                          type: string
                          description: The hotel country slug
                          examples:
                            - thailand
                            - thailand
                        cityName:
                          type: string
                          description: The hotel city name
                          examples:
                            - กรุงเทพ
                            - กรุงเทพ
                        citySlug:
                          type: string
                          description: The hotel city slug
                          examples:
                            - bangkok
                            - bangkok
                        areaName:
                          type: string
                          description: The hotel area name
                          examples:
                            - ปทุมวัน
                            - ปทุมวัน
                        areaSlug:
                          type: string
                          description: The hotel area slug
                          examples:
                            - pathum-wan
                            - pathum-wan
                        destinationId:
                          type: number
                          description: The hotel destination id
                          examples:
                            - 11921
                            - 11921
                        photoGallery:
                          type: array
                          description: The hotel photo gallery
                          items:
                            type: string
                            examples:
                              - "https://domain.net/images/id/4696.jpg"
                              - "https://domain.net/images/id/4696.jpg"
                        useful:
                          type: array
                          description: The hotel useful will have multiple groups and details keys are indexes can be more then "1"
                          items:
                            type: object
                            properties:
                              "1":
                                type: object
                                properties:
                                  group:
                                    type: string
                                    description: The hotel useful group
                                    examples:
                                      - Hotel Info
                                  detail:
                                    type: array
                                    items:
                                      type: string
                                      example:
                                        - สร้างปี ค.ศ. 2019
                        facilities:
                          type: array
                          description: The hotel facilities
                          items:
                            type: string
                        amenities:
                          type: array
                          description: The hotel amenities
                          items:
                            type: string
                        specialDeal:
                          type: boolean
                          description: The hotel special deal
                          examples:
                            - true
                            - false
                        observation:
                          type: string
                          description: The hotel observation
                          examples:
                            - observation
                          default: ""
                        currency:
                          type: string
                          description: The hotel currency 3-letter code
                          examples:
                            - THB
                        price:
                          type: number
                          description: The hotel price
                          examples:
                            - 4950
                        board_code:
                          type: string
                          description: The hotel board code
                          examples:
                            - RO
                        board_name:
                          type: string
                          description: The hotel board name
                          examples:
                            - Room Only
                        recommended_price:
                          type: boolean
                          description: The hotel recommended price
                          examples:
                            - true
                            - false
                          default: false
                        free_cancellation:
                          type: boolean
                          description: The hotel free cancellation or not
                          examples:
                            - true
                            - false
                          default: false
                        rackRate:
                          type: number
                          description: The hotel rack rate
                          examples:
                            - 9339.62
                        rackRateMarkup:
                          type: number
                          description: The hotel rack rate markup percentage
                          examples:
                            - 47
                        isRegister:
                          type: boolean
                          description: The hotel is registered or not
                          examples:
                            - true
                            - false
                        isThaiHotelMember:
                          type: boolean
                          description: The hotel is a member of Thai Hotel Association or not
                          examples:
                            - true
                            - false
                        shaPlus:
                          type: boolean
                          description: The hotel is SHA Plus certified or not
                          examples:
                            - true
                            - false
                        shaExtraPlus:
                          type: boolean
                          description: The hotel is SHA Extra Plus certified or not
                          examples:
                            - true
                            - false
                        is_top100:
                          type: boolean
                          description: The hotel is in top 100 or not
                          examples:
                            - true
                            - false
                        review:
                          type: object
                          properties:
                            rating:
                              type: string
                              description: The hotel review rating
                              examples:
                                - 3.5
                            text_rating_detail:
                              type: string
                              description: The hotel review text rating detail
                              examples:
                                - ดีมาก
                            num_reviews:
                              type: string
                              description: The hotel review number of reviews
                              examples:
                                - 805
                        isRecommend:
                          type: number
                          description: The hotel is recommended or not
                          examples:
                            - 0
                            - 1
                        isPayAtHotel:
                          type: number
                          description: The hotel is pay at hotel or not
                          examples:
                            - 1
                            - 0
                        isPayNow:
                          type: number
                          description: The hotel is pay now or not
                          examples:
                            - 0
                            - 1
                        isFreeWifi:
                          type: number
                          description: The hotel has free wifi or not
                          examples:
                            - 1
                            - 0
                        isFreeParking:
                          type: number
                          description: The hotel has free parking or not
                          examples:
                            - 0
                            - 1
                        isFreeCancellation:
                          type: number
                          description: The hotel has free cancellation or not
                          examples:
                            - 1
                            - 0
                        roomLeft:
                          type: number
                          description: The hotel number of rooms left
                          examples:
                            - 99
                        pay_at_hotel_local_price:
                          type: number
                          description: The hotel pay at hotel local price
                          examples:
                            - 4950
                        pay_at_hotel_local_currency:
                          type: string
                          description: The hotel pay at hotel local currency 3-letter code
                          examples:
                            - THB
                        vat:
                          type: number
                          description: The hotel VAT
                          examples:
                            - 0
                        priceWithoutVat:
                          type: number
                          description: The hotel price without VAT
                          examples:
                            - 4950
                        rackRateWithoutVat:
                          type: number
                          description: The hotel rack rate without VAT
                          examples:
                            - 9339.62
                        usefulDetail:
                          type: array
                          items:
                            $ref: "#/paths/~1v2~1hotel~1detailBySlug/post/responses/200/content/application~1json/schema/properties/usefulDetail/items"
                        facilitiesDetail:
                          type: array
                          items:
                            $ref: "#/paths/~1v2~1hotel~1detailBySlug/post/responses/200/content/application~1json/schema/properties/facilitiesDetail/items"
                        amenitiesDetail:
                          type: array
                          items:
                            $ref: "#/paths/~1v2~1hotel~1detailBySlug/post/responses/200/content/application~1json/schema/properties/amenitiesDetail/items"
                        shareUrl:
                          type: string
                          description: The hotel share URL
                          examples:
                            - "https://www.gother.online/hotels/thailand/bangkok/pathum-wan/twin-towers-hotel?adults=2&checkIn=2024-06-27&checkOut=2024-06-28&children=0&hotel=4696&rooms=1"
                        isFavourite:
                          type: boolean
                          description: The hotel is favourite or not
                          examples:
                            - true
                            - false
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/roomsAvailable:
    get:
      description: Get the available rooms of the hotel
      tags:
        - hotel
      operationId: getRoomsAvailable
      summary: Get the available rooms
      parameters:
        - in: query
          name: hotelId
          required: true
          description: The hotel id
          schema:
            type: integer
            examples:
              - 1
            minimum: 1
        - in: query
          name: checkin
          required: true
          description: The check-in date
          schema:
            type: string
            format: date
            examples:
              - "2021-12-01"
        - in: query
          name: checkout
          required: true
          description: The check-out date
          schema:
            type: string
            format: date
            examples:
              - "2021-12-02"
        - in: query
          name: totalRooms
          required: true
          description: The total rooms
          schema:
            type: integer
            examples:
              - 1
            minimum: 1
            maximum: 9
        - in: query
          name: totalAdults
          required: true
          description: "Total adult, value must between number of total room to number of total room * 4 Such as (total room = 1 value must be in 1 to 4)"
          schema:
            type: integer
            examples:
              - 1
            minimum: 1
            maximum: 36
        - in: query
          name: totalChild
          required: true
          description: "Total child, value must between 0 to number of total room*2 Such as (total room = 1 value must be in 0 to 2)"
          schema:
            type: integer
            examples:
              - 0
            minimum: 0
            maximum: 18
        - in: query
          name: countryOfPassport
          required: false
          description: The country of passport 2 letter code
          schema:
            type: string
            examples:
              - TH
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roomAvailables:
                    type: array
                    items:
                      description: Available Rooms
                      type: object
                      properties:
                        roomKey:
                          type: string
                          description: The room key
                          examples:
                            - 6672a7890fcba00c862b7684
                        roomId:
                          type: number
                          description: The room ID
                          examples:
                            - 0
                        roomName:
                          type: string
                          description: The room name
                          examples:
                            - Superior Classic Double Room
                        roomBoardName:
                          type: string
                          description: The room board name
                          examples:
                            - Room Only
                        currencyCode:
                          type: string
                          description: The currency code
                          examples:
                            - USD
                        rackRateMarkup:
                          type: number
                          description: The rack rate markup
                          examples:
                            - 43
                        price:
                          type: number
                          description: The price
                          examples:
                            - 76
                        rackRatePrice:
                          type: number
                          description: The rack rate price
                          examples:
                            - 133.33
                        vat:
                          type: number
                          description: The VAT
                          examples:
                            - 11.7
                        priceWithoutVat:
                          type: number
                          description: The price without VAT
                          examples:
                            - 64.3
                        rackRatepriceWithoutVat:
                          type: number
                          description: The rack rate price without VAT
                          examples:
                            - 112.81
                        payAtHotel:
                          type: boolean
                          description: Whether pay at hotel
                          default: false
                        payAtHotelPrice:
                          type: string
                          description: The pay at hotel price
                          examples:
                            - "2300"
                        payAtHotelCurrency:
                          type: string
                          description: The pay at hotel currency
                          examples:
                            - THB
                        payAtHotelPaymentDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              payment_id:
                                type: number
                                description: The payment ID
                                examples:
                                  - 1
                              name:
                                type: string
                                description: The description
                                examples:
                                  - JCB
                        payAtHotelExtraCharge:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: The type
                                examples:
                                  - ExtraCharge
                              amount:
                                type: number
                                description: The amount
                                examples:
                                  - 0
                              excluded:
                                type: boolean
                                description: Whether excluded
                                default: false
                              charge_amount:
                                type: number
                                description: The charge amount
                                examples:
                                  - 0
                              charge_price_mode:
                                type: number
                                description: The charge price mode
                                examples:
                                  - 1
                                  - 2
                                  - 3
                              name:
                                type: string
                                description: The name
                                examples:
                                  - ExtraCharge
                              currency:
                                type: string
                                description: The currency
                                examples:
                                  - USD
                        minAdult:
                          type: number
                          description: The minimum adult
                          examples:
                            - 1
                        maxAdult:
                          type: number
                          description: The maximum adult
                          examples:
                            - 2
                        minChild:
                          type: number
                          description: The minimum child
                          examples:
                            - 0
                        maxChild:
                          type: number
                          description: The maximum child
                          examples:
                            - 0
                        minRoom:
                          type: number
                          description: The minimum room
                          examples:
                            - 1
                        maxRoom:
                          type: number
                          description: The maximum room
                          examples:
                            - 1
                        cancellationPolicy:
                          type: array
                          items:
                            $ref: "#/paths/~1v2~1hotel~1cancellationPolicy/post/responses/200/content/application~1json/schema/properties/cancellationPolicy/items"
                        cancellationPolicyDetail:
                          type: array
                          items:
                            type: string
                            description: The cancellation policy detail
                            examples:
                              - "ฟรี!!! ค่าธรรมเนียมยกเลิกการจองห้องพัก หากท่านทำการยกเลิกก่อนวันที่ July 18, 2024 เวลา 23:59 น."
                        freeCancellation:
                          type: number
                          description: The free cancellation
                          examples:
                            - 1
                        manualGetCancellation:
                          type: number
                          description: The manual get cancellation
                          examples:
                            - 0
                        remark:
                          type: array
                          items:
                            type: string
                            description: The remark
                            examples:
                              - Remark
                        alert:
                          type: array
                          items:
                            type: string
                            description: The alert
                            examples:
                              - Alert
                        specialDeal:
                          type: object
                          properties:
                            status:
                              type: boolean
                              description: The status
                              examples:
                                - true
                            detail:
                              type: string
                              description: The detail
                              examples:
                                - Special Deal
                        roomsLeft:
                          type: number
                          description: The rooms left
                          examples:
                            - 18
                        roomSize:
                          type: string
                          description: The room size
                          examples:
                            - Room Size
                        smokingRoom:
                          type: string
                          description: The smoking room
                          examples:
                            - Smoking Room
                        roomAmenity:
                          type: array
                          items:
                            type: string
                            description: The room amenity
                            examples:
                              - Room Amenity
                        roomPhoto:
                          type: array
                          items:
                            type: string
                            description: The room photo
                            examples:
                              - "https://gother.co.th/some-url"
                        extraCharge:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: The type
                                examples:
                                  - ExtraCharge
                              amount:
                                type: number
                                description: The amount
                                examples:
                                  - 0
                              excluded:
                                type: boolean
                                description: Whether excluded
                                default: false
                              name:
                                type: string
                                description: The name
                                examples:
                                  - ExtraCharge
                              currency:
                                type: string
                                description: The currency
                                examples:
                                  - USD
                        extraChargeTotal:
                          type: number
                          description: The extra charge total
                          format: double
                          examples:
                            - 0
                        utmLandingPage:
                          type: string
                          description: The UTM landing page
                          examples:
                            - "https://www.travels.network/hotel-booking/validate?roomToken=nX4FQbYE8"
                  total:
                    type: number
                    description: The total number of rooms available
                    examples:
                      - 1
                  cache:
                    type: boolean
                    description: Whether the response is from cache
                    default: false
                  totalNonSmoking:
                    type: number
                    description: The total number of non-smoking rooms available
                    examples:
                      - 1
                  totalPayAtHotel:
                    type: number
                    description: The total number of pay-at-hotel rooms available
                    examples:
                      - 1
                  totalFreeCancellation:
                    type: number
                    description: The total number of free-cancellation rooms available
                    examples:
                      - 1
                  totalCityView:
                    type: number
                    description: The total number of city-view rooms available
                    examples:
                      - 1
                  shareUrl:
                    type: string
                    description: The share URL
                    examples:
                      - "https://gother.co.th/some-url"
                  keySearchTimeExpire:
                    type: number
                    description: The key search time expire
                    examples:
                      - 1
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/recommended:
    get:
      tags:
        - hotel
      operationId: getRecommendedHotels
      description: Get the recommended hotels
      summary: Get the recommended hotels
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/utmId"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  hotels:
                    type: array
                    items:
                      description: The recommend hotel object
                      type: object
                      properties:
                        id:
                          type: number
                          description: The hotel id
                          examples:
                            - 192307
                        hotelSlug:
                          type: string
                          description: The hotel slug
                          examples:
                            - phuket-graceland-resort-and-spa
                        images:
                          type: array
                          description: The hotel images
                          items:
                            type: string
                            examples:
                              - "https://someDomain.net/images/hotels/id/123/name.jpg"
                        title:
                          type: string
                          description: The hotel title
                          examples:
                            - ภูเก็ต เกรซแลนด์ รีสอร์ท แอนด์สปา
                        hotel_star:
                          type: number
                          description: The hotel star
                          examples:
                            - 4
                        review:
                          type: object
                          properties:
                            rating:
                              type: number
                              description: The hotel rating
                              examples:
                                - 4.5
                            text_rating_detail:
                              type: string
                              description: The hotel rating detail
                              examples:
                                - Excellent
                            num_reviews:
                              type: number
                              description: The hotel number of reviews
                              examples:
                                - 100
                        location:
                          type: string
                          description: The hotel location
                          examples:
                            - ป่าตอง
                            - ภูเก็ต
                            - ไทย
                        latitude:
                          type: number
                          description: The hotel latitude
                          examples:
                            - 7.9031229019165
                        longitude:
                          type: number
                          description: The hotel longitude
                          examples:
                            - 98.29741668701172
                        countrySlug:
                          type: string
                          description: The hotel country slug
                          examples:
                            - thailand
                        citySlug:
                          type: string
                          description: The hotel city slug
                          examples:
                            - phuket
                        areaSlug:
                          type: string
                          description: The hotel area slug
                          examples:
                            - patong
                        isFavourite:
                          type: boolean
                          description: The hotel is favourite or not
                          examples:
                            - false
                  total:
                    type: integer
                    description: The total number of hotels
                    example: 1
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/tourist:
    get:
      tags:
        - hotel
      operationId: getTourist
      description: Get the tourist data for the website
      summary: Get the tourist data
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/data-Token"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  description: Tourist object
                  type: object
                  properties:
                    imageForCard:
                      type: string
                      description: The tourist object image for card
                      examples:
                        - "https://domain.net/images/id/4696.jpg"
                    displayNameForCard:
                      type: string
                      description: The tourist object display name for card
                      examples:
                        - สวนสัตว์เปิดเขาเขียว
                    cityId:
                      type: number
                      description: The tourist object city id
                      examples:
                        - 1
                    cityName:
                      type: string
                      description: The tourist object city name
                      examples:
                        - กรุงเทพ
                    countryId:
                      type: number
                      description: The tourist object country id
                      examples:
                        - 1
                    countryName:
                      type: string
                      description: The tourist object country name
                      examples:
                        - ไทย
                    cssClass:
                      type: string
                      description: The tourist object css class
                      examples:
                        - zoo
                    destinationId:
                      type: number
                      description: The tourist object destination id
                      examples:
                        - 1
                    displayName:
                      type: string
                      description: The tourist object display name
                      examples:
                        - สวนสัตว์เปิดเขาเขียว
                    id:
                      type: number
                      description: The tourist object id
                      examples:
                        - 1
                    imgIcon:
                      type: string
                      description: The tourist object image icon
                      examples:
                        - "https://domain.net/images/id/4696.jpg"
                    keywordId:
                      type: number
                      description: The tourist object keyword id
                      examples:
                        - 1
                    language:
                      type: string
                      description: The tourist object language
                      examples:
                        - th
                    latitude:
                      type: number
                      description: The tourist object latitude
                      examples:
                        - 13.746
                    longitude:
                      type: number
                      description: The tourist object longitude
                      examples:
                        - 100.535
                    locationId:
                      type: number
                      description: The tourist object location id
                      examples:
                        - 1
                    slug:
                      type: string
                      description: The tourist object slug
                      examples:
                        - zoo
                    sort:
                      type: number
                      description: The tourist object sort
                      examples:
                        - 1
                    tableSlug:
                      type: string
                      description: The tourist object table slug
                      examples:
                        - city
                    tableSlugText:
                      type: string
                      description: The tourist object table slug text
                      examples:
                        - กรุงเทพ
                    totalCount:
                      type: number
                      description: The tourist object total count
                      examples:
                        - 1
                    countrySlug:
                      type: string
                      description: The tourist object country slug
                      examples:
                        - thailand
                    citySlug:
                      type: string
                      description: The tourist object city slug
                      examples:
                        - bangkok
                    areaSlug:
                      type: string
                      description: The tourist object area slug
                      examples:
                        - pathum-wan
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/hotelsNearby:
    post:
      description: |
        Get a list of hotels nearby a given the hotel id
      summary: Get hotels nearby
      tags:
        - hotel
      operationId: getHotelsNearby
      security:
        - bearerAuth: []
        - dataToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                hotel_id:
                  type: integer
                  description: The hotel id
                  examples:
                    - 1
              required:
                - hotel_id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    header:
                      type: string
                      description: The header
                      examples:
                        - ระยะทางจากโรงแรม
                    icon:
                      type: string
                      description: The icon
                      examples:
                        - "https://static2.tacdn.com/img2/icons/hotel_nearby.png"
                    contents:
                      type: array
                      items:
                        type: object
                        properties:
                          label:
                            type: string
                            description: The label
                            examples:
                              - สถานที่ท่องเที่ยว
                          distance:
                            type: string
                            description: The distance
                            examples:
                              - 0.1 กม.
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/allocate:
    post:
      security:
        - bearerAuth: []
      tags:
        - hotel
      operationId: allocateRoom
      summary: Allocate a room
      description: Allocate rooms for the user in the hotel
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
        - name: account-id
          in: header
          description: The account ID
          schema:
            type: number
            example: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                roomKey:
                  type: string
                  description: The room key can get from available rooms route
                  examples:
                    - 349flshdlshd43903931
                contactTitle:
                  type: string
                  description: The contact title
                  enum:
                    - Mr
                    - Ms
                  examples:
                    - Mr
                contactFirstname:
                  type: string
                  description: The contact first name
                  examples:
                    - John
                contactLastname:
                  type: string
                  description: The contact last name
                  examples:
                    - Doe
                contactEmail:
                  type: string
                  description: The contact email
                  format: email
                  examples:
                    - john.doe@mail.com
                contactPhonePrefix:
                  type: string
                  description: The contact phone prefix
                  examples:
                    - 66
                contactPhone:
                  type: string
                  description: The contact phone
                  examples:
                    - 123456789
                countryOfPassport:
                  type: string
                  description: The country of passport
                  examples:
                    - TH
                "guest[title]":
                  type: string
                  description: The guest title
                  enum:
                    - Mr
                    - Ms
                  examples:
                    - Mr
                "guest[firstname]":
                  type: string
                  description: The guest first name
                  examples:
                    - John
                "guest[smoking]":
                  type: string
                  description: The guest smoking status
                  enum:
                    - "1"
                    - "0"
                  examples:
                    - "1"
                    - "0"
                "guest[countryOfPassport]":
                  type: string
                  description: The guest country of passport ISO code 2a
                  examples:
                    - TH
                specialRequest:
                  type: string
                  description: The special request
                  examples:
                    - No smoking room
                preferredCurrency:
                  type: string
                  description: The preferred currency
                  examples:
                    - USD
                itemListName:
                  type: string
                  description: The item list name
                  examples:
                    - Room
              required:
                - roomKey
                - contactTitle
                - contactFirstname
                - contactLastname
                - contactEmail
                - contactPhonePrefix
                - contactPhone
                - countryOfPassport
                - "guest[title]"
                - "guest[firstname]"
                - "guest[smoking]"
                - "guest[countryOfPassport]"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookingInternalNo:
                    type: string
                    description: The booking internal number
                    example: 1234564dFIND
                  rsvnId:
                    type: number
                    description: The reservation ID
                    example: 2134
                  expired:
                    type: string
                    format: date-time
                    description: The expiry date
                  price:
                    type: object
                    properties:
                      amount:
                        type: number
                        description: The amount
                        example: 1000
                      currency:
                        type: string
                        description: The currency
                        example: THB
                  pricechanged:
                    type: object
                    properties:
                      oldPrice:
                        type: number
                        description: The old price
                        example: 2000
                      newPrice:
                        type: number
                        description: The new price
                        example: 1000
                      currency:
                        type: string
                        description: The currency
                        example: THB
                  cancellationPolicyChanged:
                    $ref: "#/paths/~1v2~1hotel~1cancellationPolicy/post/responses/200/content/application~1json/schema"
                  payAtHotel:
                    type: boolean
                    description: Whether to pay at the hotel
                  paymentUrl:
                    type: string
                    description: The payment URL
                    example: "https://payment.example.com"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "405":
          $ref: "#/components/responses/MethodNotAllowedError"
  /v2/hotel/detailBySlug:
    post:
      tags:
        - hotel
      operationId: getHotelDetailBySlug
      summary: Get the hotel detail by slug
      description: |
        Get the hotel detail by slug given all the location slugs
      parameters:
        - $ref: "#/components/parameters/accept-Language"
        - $ref: "#/components/parameters/preferred-currency"
        - $ref: "#/paths/~1v2~1hotel~1allocate/post/parameters/2"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                countrySlug:
                  type: string
                  description: The country slug
                  examples:
                    - thailand
                citySlug:
                  type: string
                  description: The city slug
                  examples:
                    - bangkok
                areaSlug:
                  type: string
                  description: The area slug
                  examples:
                    - pathum-wan
                hotelSlug:
                  type: string
                  description: The hotel slug
                  examples:
                    - phuket-graceland-resort-and-spa
              required:
                - countrySlug
                - citySlug
                - areaSlug
                - hotelSlug
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                description: hotel details
                type: object
                properties:
                  id:
                    type: number
                    description: The hotel id
                    examples:
                      - 1
                  name:
                    type: string
                    description: The hotel name
                    examples:
                      - โรงแรม 88 ถนนรองเมือง
                  slug:
                    type: string
                    description: The hotel slug
                    examples:
                      - 88-ถนนรองเมือง
                  description:
                    type: string
                    description: The hotel description
                    examples:
                      - โรงแรม 88 ถนนรองเมือง ตั้งอยู่ในกรุงเทพ ใกล้กับสถานีรถไฟใต้ดิน
                  starRating:
                    type: number
                    description: The hotel star rating
                    examples:
                      - 4
                  latitude:
                    type: number
                    description: The hotel latitude
                    examples:
                      - 13.74613952636719
                  longitude:
                    type: number
                    description: The hotel longitude
                    examples:
                      - 100.51983642578125
                  phoneNumber:
                    type: string
                    description: The hotel phone number
                    examples:
                      - 6622169555
                  faxNumber:
                    type: string
                    description: The hotel fax number
                    examples:
                      - 6622169544
                  address:
                    type: string
                    description: The hotel address
                    examples:
                      - 88 ถนนรองเมือง
                      - ปทุมวัน
                      - กรุงเทพ
                      - 10330
                      - ไทย
                  countryName:
                    type: string
                    description: The hotel country name
                    examples:
                      - ไทย
                  countrySlug:
                    type: string
                    description: The hotel country slug
                    examples:
                      - thailand
                  cityId:
                    type: number
                    description: The hotel city id
                    examples:
                      - 1
                  cityName:
                    type: string
                    description: The hotel city name
                    examples:
                      - กรุงเทพ
                  citySlug:
                    type: string
                    description: The hotel city slug
                    examples:
                      - bangkok
                  areaName:
                    type: string
                    description: The hotel area name
                    examples:
                      - ปทุมวัน
                  areaSlug:
                    type: string
                    description: The hotel area slug
                    examples:
                      - pathum-wan
                  destinationId:
                    type: number
                    description: The hotel destination id
                    examples:
                      - 1
                  photoGallery:
                    type: array
                    description: The hotel photo gallery
                    items:
                      type: string
                      examples:
                        - "https://domain.net/images/hotels/id/123/name.jpg"
                  useful:
                    type: array
                    description: The hotel useful will have multiple groups and details keys are indexes can be more then "1"
                    items:
                      type: object
                      properties:
                        "1":
                          type: object
                          properties:
                            group:
                              type: string
                              description: The hotel useful group
                              examples:
                                - Hotel Info
                            detail:
                              type: array
                              items:
                                type: string
                                example:
                                  - สร้างปี ค.ศ. 2019
                  facilities:
                    type: array
                    description: The hotel facilities
                    items:
                      type: string
                  amenities:
                    type: array
                    description: The hotel amenities
                    items:
                      type: string
                  usefulDetail:
                    type: array
                    items:
                      type: object
                      properties:
                        groupId:
                          type: number
                          description: The hotel useful group id can be mapped with useful group
                          examples:
                            - 1
                        groupName:
                          type: string
                          description: The hotel useful group name
                          examples:
                            - อินเทอร์เน็ต
                        details:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                description: The hotel useful detail id
                                examples:
                                  - 2
                              name:
                                type: string
                                description: The hotel useful detail name
                                examples:
                                  - ฟรี Wifi
                  facilitiesDetail:
                    type: array
                    items:
                      type: object
                      description: The hotel facilities detail
                      properties:
                        groupId:
                          type: number
                          description: The hotel useful group id can be mapped with useful group
                          examples:
                            - 1
                        groupName:
                          type: string
                          description: The hotel useful group name
                          examples:
                            - อินเทอร์เน็ต
                        details:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                                description: The hotel useful detail id
                                examples:
                                  - 2
                              name:
                                type: string
                                description: The hotel useful detail name
                                examples:
                                  - ฟรี Wifi
                              image:
                                type: string
                                description: The hotel useful detail image
                                examples:
                                  - "https://domain.net/images/id/4696.jpg"
                  amenitiesDetail:
                    type: array
                    items:
                      type: object
                      description: The hotel amenities detail
                      properties:
                        id:
                          type: number
                          description: The hotel amenities detail id
                          examples:
                            - 2
                        name:
                          type: string
                          description: The hotel amenities detail name
                          examples:
                            - ฟรี Wifi
                          default: ""
                  important_note:
                    type: string
                    description: The hotel important note
                    examples:
                      - สำหรับเด็กอายุไม่เกิน 12 ปี ที่พักฟรี 1 คน
                  observation:
                    type: string
                    description: The hotel observation
                    examples:
                      - observation
                    default: ""
                  isRegister:
                    type: boolean
                    description: The hotel is register
                    examples:
                      - true
                      - false
                  isThaiHotelMember:
                    type: boolean
                    description: The hotel is thai hotel member
                    examples:
                      - true
                      - false
                  shaPlus:
                    type: boolean
                    description: The hotel is SHA Plus certified or not
                    examples:
                      - true
                      - false
                  shaExtraPlus:
                    type: boolean
                    description: The hotel is SHA Extra Plus certified or not
                    examples:
                      - true
                      - false
                  is_top100:
                    type: boolean
                    description: The hotel is in top 100 or not
                    examples:
                      - true
                      - false
                  review:
                    description: The hotel review object
                    type: object
                    properties:
                      address_obj:
                        type: object
                        properties:
                          street1:
                            type: string
                            description: The hotel address street1
                            examples:
                              - 88 ถนนรองเมือง
                          street2:
                            type: string
                            description: The hotel address street2
                            examples:
                              - ปทุมวัน
                          city:
                            type: string
                            description: The hotel address city
                            examples:
                              - กรุงเทพ
                          state:
                            type: string
                            description: The hotel address state
                            examples:
                              - กรุงเทพ
                          country:
                            type: string
                            description: The hotel address country
                            examples:
                              - ไทย
                          postalcode:
                            type: string
                            description: The hotel address postalcode
                            examples:
[...]
